@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("../assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url("../assets/fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: url("../assets/fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "Poppins";
  font-weight: 800;
  src: url("../assets/fonts/Poppins-Bold.ttf");
}
body {
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.section {
  max-width: 990px;
  margin: 0 auto;
}
