@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("../assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url("../assets/fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: url("../assets/fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "Poppins";
  font-weight: 800;
  src: url("../assets/fonts/Poppins-Bold.ttf");
}
body {
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
p {
  margin: 7px 0 !important;
}
#app {
  background: #fafafa;
}
.border {
  border-radius: 20px;
}
.divider {
  border-bottom: 2px solid #f6f4ff;
}
.section {
  max-width: 1024px;
  margin: 0 auto;
}
.width-half {
  width: 85%;
}

/* scrollbar */
.horizontal-scroll::-webkit-scrollbar,
.horizontal-scroll::-moz-scrollbar {
  width: 8px;
  height: 8px;
}
.horizontal-scroll::-webkit-scrollbar-track,
.horizontal-scroll::-moz-scrollbar-track {
  background-color: #c2d2e400;
}

.horizontal-scroll::-webkit-scrollbar-thumb,
.horizontal-scroll::-moz-scrollbar-thumb {
  background-color: #e6e6e6;
}
.horizontal-scroll {
  scrollbar-color: #e6e6e6 #c2d2e400;
  scrollbar-width: thin;
}

/* responsiveness */
@media screen and (min-width: 1200px) {
  .section {
    max-width: 1200px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 600px) {
  .text-right {
    text-align: left;
  }
  .row-sm {
    flex-direction: column;
  }
  .row-sm > div:last-child {
    margin-top: 1rem;
  }
  .width-half {
    width: 100%;
  }
}
