// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #393a9c;
$secondary : #f6f4ff;
$accent    : #9C27B0;
$bg        : #fafafa;
$white     : #ffffff;
$grey      : #9a9ea1;
$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : rgb(51, 126, 252);
$warning   : #F2C037;

@import '~quasar-variables-styl'
